{% extends "base.html" %}

{% block content %}
 <div class="row mt-4">
     <div class="col">
         <h2>Add Item</h2>
         <form action="" class="form-inline">
         <input type="text" class= "form-control mb-2 mr-sm-2" placeholder="Type Here...">
         <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
     </div>
 </div>

 <div class="row mt-4">
     <div class="col">
        <ul class="list-group">
            <li class="list-group-item">An active item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>
     </div>
 </div>
{% endblock  %}